@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap&rel="stylesheet"');

.divProfil {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background: lightgrey;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin: 0 5rem;
}

.card-container {
  display: inline-flex;
  justify-content: space-around;
  padding: 30px 20px 0;
  max-width: 935px;
}

.cards-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-by-id {
  background-color: #fff;
}

.S2n-name {
  font-family: "Fredericka the Great", cursive;
  font-size: 35px;
}

/* without a:link text decoration not working ! */
.card-text,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #c1c1c1;
}

.skeleton.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.skeleton::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color ne marche pas */
  background: linear-gradient(
    to right,
    transparent 0%,
    #dedede 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  animation: loading 1s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/* @keyframes loading {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
} */

@media screen and (min-width: 200px) and (max-width: 640px) {
  .Card {
    padding: 0;
  }

  .cards-image {
    width: 128px;
    height: 128px;
    margin: 1px;
  }
}
