.s2n-container {
  width: 950px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom, red, orange);
}

.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filters .label,
.filter-by-technos {
  font-weight: 900;
  color: grey;
}

.search {
  width: 300px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.filter-by-citie {
  width: 250px;
}

.reset {
  padding: 0.4rem;
  margin-top: 1.5rem;
  background-color: #0c3564;
  border: none;
  color: white;
  transition: all 0.4s cubic-bezier(1, -0.16, 0.6, 1.35);
  border-radius: 5px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .s2n-container {
    width: auto;
  }

  .filters {
    flex-wrap: wrap;
  }
}
